h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  color: #fff74d;

}

h2 {
  font-weight: bold;
  color:  #7eff4d;
}

body {
  font-family: 'Droid Serif', serif;
  background-color: #29b6f6;
  color: white;
}

img {
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

img.jess {
  float: left;
  margin: 10px;
}

a:link {
  text-decoration: none;
  font-weight: bold;
  font-family:'Lobster', cursive;
  color: #fff74d;
  font-size: 18px;
  }
